@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #135C95;
  --color-secondary: #ffffff;
  --color-accent: rgba(122, 170, 221, 0.3);

  --font-montserrat: "Montserrat", "sans-serif";

  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1020px;
}
